<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.wingstars.home.activity.TodayItineraryDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.wingstars.member.activity.EventHighlightsActivity"
            android:exported="false" />
        <activity
            android:name="com.wingstars.member.activity.FashionableAtmosphereActivity"
            android:exported="false" />
        <activity android:name=".activity.LatestNewsActivity"
            android:allowEmbedded="false"/>
        <activity
            android:name=".activity.LatestNewsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false"/>
        <meta-data
            android:name="design_width_in_dp"
            android:value="402"/>

        <meta-data
            android:name="design_height_in_dp"
            android:value="874"/>
    </application>

</manifest>