<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_wing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_wing_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WingStars"
        tools:replace="android:theme,android:label">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.WingStars.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WingStars">
            <intent-filter>
                <action android:name="com.company.wingstars.OPEN_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Welcome -->
        <activity
            android:name=".main.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.WingStars.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.PermissionRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.WingStars.NoActionBar" />
        <activity
            android:name="com.wingstars.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.WingStars.NoActionBar" />

        <activity
            android:name="com.wingstars.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.WingStars.Register"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.wingstars.resetpsd.ResetPsdActivity"
            android:exported="false"
            android:theme="@style/Theme.WingStars.Register"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wingstars.register.registrationterms.RegistrationTermsActivity"
            android:exported="false"
            android:theme="@style/Theme.WingStars.Register"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="402"/>

        <meta-data
            android:name="design_height_in_dp"
            android:value="874"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>
