<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name=".activity.MemberInformationActivity"/>
        <activity android:name=".activity.ChooseMemberActivity" />
        <activity android:name=".activity.FrequentlyAskedQuestionsActivity" />
        <activity android:name=".activity.MobileBarcodeCarrierActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.MemBarCodeActivity" />
        <activity android:name=".activity.StoreLocationActivity" />
        <activity android:name=".activity.PolicyTermActivity" />
        <activity android:name=".activity.ChangeMemberPasswordActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ContactCustomerActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".activity.MemberLevelActivity"/>

    </application>
</manifest>