<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity android:name=".cheer.MemberInformationActivity" />
        <activity android:name=".cheer.ChooseMemberActivity" />
        <activity android:name=".frequentlyaskedquestion.FrequentlyAskedQuestionsActivity" />
        <activity android:name=".cheer.MobileBarcodeCarrierActivity" />
        <activity android:name=".code.MemBarCodeActivity" />
        <activity android:name=".storelocation.StoreLocationActivity" />
        <activity android:name=".policyterm.PolicyTermActivity" />
        <activity android:name=".code.ChangeMemberPasswordActivity"/>
        <activity android:name=".membercontact.ContactCustomerActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".memberlevel.MemberLevelActivity"/>

    </application>
</manifest>